<app-employees-summary [totalUsersNumber]="totalUsersNumber" [totalClockedTime]="totalClockedTime"
  [totalProductiveTime]="totalProductiveTime" [totalUnproductiveTime]="totalUnproductiveTime"></app-employees-summary>
<app-table [dataSource]="users" [tableColumnNames]="tableColumnNames" [tableForm]="tableForm"
  (emitMoreDetailsEvent)="navigateToEmployeeProfile($event)" (emitSearchValue)="getFilteredUsers($event)"
  (emitSortData)="getSortedUsers($event)" (emitDisplayMode)="getUsersByDisplayMode($event)">
</app-table>
