<section class="dashboard-section section">
  <h1 class="section-title center">Dashboard</h1>
  <div class="dashboard-section-content">
    <app-employees-summary [totalUsersNumber]="totalUsersNumber" [totalClockedTime]="totalClockedTime"
      [totalProductiveTime]="totalProductiveTime" [totalUnproductiveTime]="totalUnproductiveTime">
    </app-employees-summary>
    <app-table [dataSource]="users" [tableColumnNames]="tableColumnNames" [tableForm]="tableForm"
      (emitMoreDetailsEvent)="navigateToEmployeeProfile($event)" (emitSearchValue)="getFilteredUsers($event)"
      (emitSortData)="getSortedUsers($event)" (emitDisplayMode)="getUsersByDisplayMode($event)"
      (emitDisplayAll)="getAllUsersSorted($event)">
    </app-table>
  </div>
</section>
