.users-table {
  width: 1000px;
  margin: 30px auto;

  &__table {
    width: 100%;
  }

  &__global-table-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;

    #toggle-active-inactive {
      min-width: 170px;
    }
  }
}
