<section class="form-section">
  <mat-card>
    <h3 class="section-title center">{{ formName }}</h3>
    <form class="form" [formGroup]="form">

      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username" type="text" required />
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" type="password" required />
        <ng-container *ngIf="formName === 'Register'">
          <mat-error *ngIf="passwordControl.errors && passwordControl.touched">Password must contain one capital letter,
            one special character and be at least 8 characters long.</mat-error>
        </ng-container>
      </mat-form-field>

      <ng-container *ngIf="formName === 'Login'">
        <p>Don't have a account? Go to <span class="highlight-text"><a [routerLink]="['/register']">register
              page</a></span> to create one.</p>
      </ng-container>

      <ng-container *ngIf="form.errors">
        <mat-error *ngIf="form.errors.invalidCredentials">Invalid credentials</mat-error>
        <mat-error *ngIf="form.errors.usernameNotAvailable">Username is not available</mat-error>
      </ng-container>

      <button type="submit" mat-raised-button color="warn" class="button"
        (click)="runEmitFormValues()">{{ formName === 'Login' ? 'Login' : 'Create Account' }}</button>
    </form>
  </mat-card>
</section>
